@font-face {
  font-family: 'PTSans-Regular';
  src: url('PTSans-Regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

.body {
  display: grid;
  width: 100%;
  grid-template-rows: 100px auto 50px;
  grid-template-areas:
    'header'
    'main'
    'footer';
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 3em;
  border: none;
  font-family: 'PT Sans';
  font-size: 12px;
}

/* HEADER */

.header {
  grid-area: header;
  position: fixed;
  background-color: #e5be9e;
  padding: 0;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.title {
  font-size: 19pt;
  color: #ffffff;
  font-family: 'PT Sans';
  text-align: center;
  letter-spacing: 0.11em;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 2em;
}

.title:hover {
  color: #eef0f2;
}

.menu {
  background-color: #e5be9e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-right: 2em;
}

.menu > a {
  text-decoration: none;
  font-size: 15px;
}

.header-link {
  text-decoration: none;
}

.link {
  text-decoration: none;
  padding-left: 1em;
  padding-right: 1em;
  color: #ffffff;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.link:hover {
  color: #eef0f2;
}

@media only screen and (min-width: 800px) {
  .title {
    font-size: 22px;
    letter-spacing: 0.11em;
  }

  .menu {
    font-size: 18px;
  }
}

.main {
  grid-area: main;
}

/* ABOUT ME */

.aboutMe {
  padding-top: 50px;
  margin-left: 6em;
  margin-right: 6em;
  background-color: #f79d65;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas:
    'pic who'
    'pic about';
}

.who {
  grid-area: who;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.07em;
  text-align: left;
  padding-right: 6em;
  margin-bottom: 0;
  align-self: flex-end;
}

.about-me-text {
  color: #ffffff;
  grid-area: about;
  width: 300px;
  font-size: 15px;
  text-align: left;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 3em;
  justify-self: center;
  justify-items: center;
  letter-spacing: 0.05em;
  padding-bottom: 4em;
  padding-top: 2em;
}

.me {
  grid-area: pic;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  margin-left: 4em;
  align-self: center;
  justify-self: right;
}

@media only screen and (min-width: 850px) {
  .aboutMe {
    margin-left: 10em;
    margin-right: 10em;
  }
}

@media only screen and (min-width: 1000px) {
  .aboutMe {
    margin-left: 15em;
    margin-right: 15em;
  }

  .me {
    height: 250px;
    width: 250px;
    margin-left: 5em;
  }
}

@media only screen and (min-width: 1200px) {
  .about-me-text {
    width: 400px;
  }
  .who {
    padding-left: 2em;
  }
}

@media only screen and (min-width: 1500px) {
  .about-me-text {
    width: 550px;
  }
}

@media only screen and (min-width: 1700px) {
  .about-me-text {
    width: 700px;
  }
}

/* PROJECTS */

.projects-area {
  padding-top: 70px;
  margin: 0;
  background-color: #eef0f2;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.projects-title {
  margin: 0;
  padding-top: 2em;
  font-size: 20px;
  letter-spacing: 0.1em;
  text-align: center;
}

.projects-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: center;
  margin: 0;
}

.list-item1 {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 2em;
  width: 500px;
}

.project-container1 {
  display: flex;
  justify-content: center;
}

.portfolio-image1 {
  max-width: 500px;
  grid-area: image;
  align-self: center;
  margin: 1em;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.project-description1 {
  display: none;
}

.portfolio-image1:hover ~ .project-description1 {
  display: block;
  grid-area: desc;
  color: #333333;
  text-align: center;
  font-size: 15px;
  padding-top: 1.5em;
  max-width: 450px;
}

.list-item2 {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2em;
  padding-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
  width: 500px;
}

.portfolio-image2 {
  grid-area: image;
  margin: 1em;
  max-height: 300px;
  align-self: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.project-description2 {
  display: none;
}

.portfolio-image2:hover ~ .project-description2 {
  display: block;
  grid-area: desc;
  color: #333333;
  text-align: center;
  font-size: 15px;
  padding-top: 1.5em;
  max-width: 450px;
}

.project-title {
  grid-area: title;
  font-family: 'PT Sans';
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  margin-left: 2em;
  margin-right: 2em;
  padding-bottom: 0.5em;
}

.tech-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
  margin-bottom: 1em;
}

.tech-list-header {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 15px;
}

.tech-list-item {
  border-width: 0.5px;
  border-radius: 10px;
  border-style: solid;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.2em;
  margin-bottom: 0.5em;
  margin-right: 0.2em;
  font-size: 0.9em;
}

.links-to-code {
  font-family: 'PT Sans';
  grid-area: links;
  display: flex;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.links-to-code > a {
  background-color: #e5be9e;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  text-align: center;
  border-radius: 10px;
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
  width: 10em;
}

.links-to-code > a:hover {
  background-color: #f79d65;
}

@media only screen and (min-width: 1000px) {
  .projects-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .list-item1 {
    margin: 2em;
  }
  .list-item2 {
    margin: 2em;
  }
}
/* CONTACT */

.contactme {
  padding-top: 70px;
  margin-bottom: 3em;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
  margin-top: 3em;
}

.form-name {
  margin-top: 1em;
  width: 23em;
  border: none;
  margin-bottom: 0.2em;
}

.form-input {
  margin-top: 1em;
  width: 23em;
  border: none;
  margin-bottom: 0.2em;
}

.form-message {
  margin-top: 1em;
  width: 23em;
  border: none;
  text-decoration: none;
  margin-bottom: 0.2em;
  font-family: 'PT Sans';
}

.contact-form-label {
  font-size: 13px;
  margin: 1em;
  border-bottom-style: solid;
  border-bottom-color: #f79d65;
}

.get-in-touch {
  margin: 0;
  padding-top: 2em;
  padding-bottom: 1em;
  font-size: 20px;
  letter-spacing: 0.1em;
  text-align: center;
}

.get-in-touch-text {
  margin-top: 2em;
  font-size: 15px;
  text-align: center;
  margin-left: 2em;
  margin-right: 2em;
}

.send-button {
  background-color: #eef0f2;
  border-radius: 10px;
  border: none;
  color: #333333;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 1em;
  padding-left: 1em;
}

.send-button:hover {
  background-color: #f79d65;
  color: #ffffff;
}

/* FOOTER */

.footer {
  grid-area: footer;
  margin-bottom: 3em;
  text-align: center;
}
