.body {
  display: grid;
}

.title {
  font-size: 30pt;
  color: #333333;
  font-family: 'PT Sans';
}

.menu {
  font-size: 15pt;
  font-family: 'PT Sans';
  text-decoration: none;
}

.paragraph {
  font-size: 15pt;
  font-family: 'PT Sans';
}

.portfolio-image {
  height: 260px;
  width: 400px;
}

.header {
  background-color: #f79d65;
  margin: 0;
  width: 100%;
}

.projects-list {
  list-style: none;
}
