.title {
  font-size: 30pt;
  color: navy;
  font-family: 'PT Sans';
}

.menu {
  font-size: 15pt;
  font-family: 'PT Sans';
  text-decoration: none;
}

.paragraph {
  font-size: 15pt;
  font-family: 'PT Sans';
}

.portfolio-image {
  height: 260px;
  width: 400px;
}

.projects-list {
  list-style: none;
}
