.body {
  display: grid;
  grid-template-rows: 100px 40px auto;
  grid-template-columns: 100%;
  grid-template-areas:
    'header'
    'nav'
    'main';
  padding: 0;
  margin: 0;
  border: none;
}

.header {
  grid-area: header;
  background-color: #f79d65;
  margin: 0;
  width: 100%;
}

.title {
  font-size: 30pt;
  color: #333333;
  font-family: 'PT Sans';
}

.menu {
  grid-area: nav;
  font-size: 15pt;
  font-family: 'PT Sans';
  text-decoration: none;
  text-align: center;
  padding: 20px;
  background-color: #e5be9e;
}

.paragraph {
  font-size: 15pt;
  font-family: 'PT Sans';
}

.portfolio-image {
  height: 260px;
  width: 400px;
}

.projects-list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: #333333;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
}
